{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil du site web Stubborn{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

{% block main %}

    <h1 class="home-title">Les sweat-shirts du moment !!!</h1>
    <div class="row align-items-center text-center cards-container">
        {% for topSweat in topSweats %}
            <div class="col-sm-12 col-md-6 col-lg-4 card-sweat">
                <img class="top-sweat-img" src="{{ asset('/uploads/images/' ~ topSweat.img) }}" alt="Sweat du moment"/>
                <p class="top-sweat-name">{{ topSweat.name }}</p>
                <p class="top-sweat-price"><strong>Prix : </strong>{{ topSweat.price }} $</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% endblock %}
